<div class="contanct--container">
    <div class="contact--title">
        Свържете се с нас
        <br>
        при възникнали въпроси
    </div>
    <div class="contact--card">
        <!-- <div class="contact--card__left-design"></div> -->
        <img class="contact--card__left-design" src="../../../assets/images/petno1.png" loading="lazy">

        <div class="contact--card__image">
            <img src="../../../assets/images/Silvi2.png" alt="silvana" loading="lazy">
        </div>
        <div class="contact--card__info">
            <span class="contact--card__info-name">
                Силвана
            </span>
            <span class="contact--card__info-phone">
                <a href="tel:+359-894-373-676">
                    0894373676
                </a>
            </span>
        </div>
        <div class="contact--card__right-design">
            <!-- <div class="contact--card__right-design-branch"></div> -->
            <img class="contact--card__right-design-branch" src="../../../assets/images/klonka1.png" loading="lazy">

            <!-- <div class="contact--card__right-design-background"></div> -->
            <img class="contact--card__right-design-background" src="../../../assets/images/petno2.png" loading="lazy">

        </div>
    </div>
    <div class="contact--card">
        <!-- <div class="contact--card__left-design"></div> -->
        <img class="contact--card__left-design" src="../../../assets/images/petno1.png" loading="lazy">
        <div class="contact--card__image-man">
            <img src="../../../assets/images/rado.png" alt="rado" loading="lazy">
        </div>
        <div class="contact--card__info-man">
            <span class="contact--card__info-name">
                Радослав
            </span>
            <span class="contact--card__info-phone">
                <a href="tel:+359-877-178-575">
                    0877178575
                </a>
            </span>
        </div>
        <div class="contact--card__right-design">
            <!-- <div class="contact--card__right-design-branch"></div> -->
            <img class="contact--card__right-design-branch" src="../../../assets/images/klonka1.png" loading="lazy">

            <!-- <div class="contact--card__right-design-background"></div> -->
            <img class="contact--card__right-design-background" src="../../../assets/images/petno2.png" loading="lazy">

        </div>
    </div>
    <div class="contact--card">
        <!-- <div class="contact--card__left-design"></div> -->
        <img class="contact--card__left-design" src="../../../assets/images/petno1.png" loading="lazy">
        <div class="contact--card__image">
            <img src="../../../assets/images/Borislava.png" alt="bobi" loading="lazy">
        </div>
        <div class="contact--card__info">
            <span class="contact--card__info-name">
                Борислава
            </span>
            <span class="contact--card__info-phone">
                <a href="tel:+359-882-921-359">
                    0882921359
                </a>
            </span>
        </div>
        <div class="contact--card__right-design">
            <!-- <div class="contact--card__right-design-branch"></div> -->
            <img class="contact--card__right-design-branch" src="../../../assets/images/klonka1.png" loading="lazy">

            <!-- <div class="contact--card__right-design-background"></div> -->
            <img class="contact--card__right-design-background" src="../../../assets/images/petno2.png" loading="lazy">

        </div>
    </div>
    <div class="contact--card">
        <!-- <div class="contact--card__left-design"></div> -->
        <img class="contact--card__left-design" src="../../../assets/images/petno1.png" loading="lazy">
        <div class="contact--card__image-man">
            <img src="../../../assets/images/Kircho.png" alt="bobi" loading="lazy">
        </div>
        <div class="contact--card__info-man">
            <span class="contact--card__info-name">
                Кирил
            </span>
            <span class="contact--card__info-phone">
                <a href="tel:+359-884-782-762">
                    0884782762
                </a>
            </span>
        </div>
        <div class="contact--card__right-design">
            <!-- <div class="contact--card__right-design-branch"></div> -->
            <img class="contact--card__right-design-branch" src="../../../assets/images/klonka1.png" loading="lazy">

            <!-- <div class="contact--card__right-design-background"></div> -->
            <img class="contact--card__right-design-background" src="../../../assets/images/petno2.png" loading="lazy">

        </div>
    </div>
</div>