<div class="contanct--container">
    <div class="contact--title">
        Свържете се с нас 
        <br>
        при въпроси
    </div>
    <div class="contact--card">
        <div id='test' class="contact--card__left-design"></div>
        <div class="contact--card__image">
            <img src="../../../assets/images/Silvi2.png" alt="silvana">
        </div>
        <div class="contact--card__info">
            <span class="contact--card__info-name">
                Силвана
            </span>
            <span class="contact--card__info-phone">
                0894373676
            </span>
        </div>
        <div class="contact--card__right-design">
            <div class="contact--card__right-design-branch"></div>
            <div class="contact--card__right-design-background"></div>
        </div>
    </div>
    <div class="contact--card">
        <div class="contact--card__left-design"></div>
        <div class="contact--card__image-man">
            <img src="../../../assets/images/rado.png" alt="rado">
        </div>
        <div class="contact--card__info-man">
            <span id="test" class="contact--card__info-name">
                Радослав
            </span>
            <span id="test" class="contact--card__info-phone">
                0877178575
            </span>
        </div>
        <div class="contact--card__right-design">
            <div class="contact--card__right-design-branch"></div>
            <div class="contact--card__right-design-background"></div>
        </div>
    </div>
    <div class="contact--card">
        <div class="contact--card__left-design"></div>
        <div class="contact--card__image">
            <img src="../../../assets/images/Borislava.png" alt="bobi">
        </div>
        <div class="contact--card__info">
            <span class="contact--card__info-name">
                Борислава
            </span>
            <span class="contact--card__info-phone">
                0882921359
            </span>
        </div>
        <div class="contact--card__right-design">
            <div class="contact--card__right-design-branch"></div>
            <div class="contact--card__right-design-background"></div>
        </div>
    </div>
    <div class="contact--card">
        <div class="contact--card__left-design"></div>
        <div class="contact--card__image-man">
            <img src="../../../assets/images/Kircho.png" alt="bobi">
        </div>
        <div class="contact--card__info-man">
            <span id="test" class="contact--card__info-name">
                Кирил
            </span>
            <span id="test" class="contact--card__info-phone">
                0884782762
            </span>
        </div>
        <div class="contact--card__right-design">
            <div class="contact--card__right-design-branch"></div>
            <div class="contact--card__right-design-background"></div>
        </div>
    </div>
</div>