<div *ngIf="images && images.length > 0" class="carousel-container">
    <img *ngFor="let img of images; let i=index" src="{{img.imageSrc}}" alt="img.imageAlt"
        [ngClass]="{'image-active': selectedIndex === i}" class="fade">

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)">
        </span>
    </div>


    <button *ngIf="controls" class="btn-carousel btn-prev" (click)="onPrevClick()">
        <span class="material-symbols-outlined icon-carousel" >
            chevron_left
        </span>
    </button>

    <button *ngIf="controls" class="btn-carousel btn-next" (click)="onNextClick()">
        <span class="material-symbols-outlined icon-carousel" >
            chevron_right
        </span>
    </button>

</div>