<div *ngIf="images && images.length > 0 || cards" class="carousel-container" (swipeleft)="onNextClick()" (swiperight)="onPrevClick()">
    <img *ngFor="let img of images; let i=index" src="{{img.imageSrc}}" alt="img.imageAlt"
        [ngClass]="{'image-active': selectedIndex === i}" class="fade">

    <app-card *ngFor="let t of texts let i=index" [text]="t"  [shouldHaveHeader]="i===1" [ngClass]="{'image-active': selectedIndex === i}"></app-card>

    <div *ngIf="indicators && images.length > 0" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)">
        </span>
    </div>

    <div *ngIf="indicators && texts.length > 0" class="carousel-dot-container">
        <span *ngFor="let dot of texts; let i=index" class="dot-cards" [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)">
        </span>
    </div>


    <button *ngIf="controls" class="btn-carousel btn-prev" (click)="onPrevClick()">
        <span class="material-symbols-outlined icon-carousel" >
            chevron_left
        </span>
    </button>

    <button *ngIf="controls" class="btn-carousel btn-next" (click)="onNextClick()">
        <span class="material-symbols-outlined icon-carousel" >
            chevron_right
        </span>
    </button>

</div>