<div class="footer--container">
    <div class="footer--nav">
        <ul class="footer--nav__list">
            <li class="footer--nav__list-item" *ngFor="let item of navItems">
                <a href="{{item.link}}">
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p class="footer--info">
            © Всички права запазени
            <br>
            <a href="https://www.thousandtreeswedding.com/" title="Сватбата на Силвана и Радослав">
                Сватбата на Силвана и Радослав
            </a>
            <br>
            Дизайн и разработка от Ц.Вучкова и М.Драгнев           
        </p>
    </div>
</div>