<div class="place__container">

    <div class="place__title">
        За мястото
    </div>

    <div class="place__wrapper">
        <div class="place__description">
            <div class="place__description--title">

                Ваканционно селище
                <br>
                „Балканъ“

            </div>
            <div class="place__description--text">
                Ваканционно селище „Балканъ“ се намира на 35 км от град Велико Търново, в сърцето на Предбалкана.
                Сгушено сред недокосната природата, селището предлага невероятна атмосфера и спокойствие далеч от
                градския шум.
            </div>
        </div>
    </div>

</div>