@use '../../../styles/index' as *;


.card__container--holder {
    padding: 1rem;
}

.card__content--author {
    font-weight: 600 !important;
}


.card__content {
    padding: 1rem;
    border: 3px solid map-get($map: $colors, $key: primary-font-color);
    border-radius: 1rem;
    text-align: center;

    & span {
        white-space: pre-wrap;
        font-size: 1.170rem;
        margin-top: 1rem;
        display: inline-block;
        color: rgba(0, 0, 0, 0.7);
        font-family: montserrat, sans-serif;
        font-weight: 300;
        font-style: normal;

    }

    & h3 {
        font-size: 2rem;
        margin: 1rem;
        margin-bottom: 0;
    }
}