<div class="countdown">
    <div class="countdown__slogan">
        Сватбата на Силвана и Радослав
    </div>
    <h2 class="countdown__date">15 ЮЛИ 2023</h2>

    <div class="countdown__timer">
        <igx-circular-bar [value]="this.percent" [animate]="true" class="countdown__timer--item">
            <ng-template igxProcessBarText let-process>
                <svg:tspan x="54" y="3.5rem" [ngClass]="'countdown__timer--item-time'"> {{daysToDday}} </svg:tspan>
                <svg:tspan [ngClass]="'countdown__timer--item-label'" x="50" dy="20">
                    ДНИ
                </svg:tspan>
            </ng-template>
        </igx-circular-bar>
        <igx-circular-bar [value]="this.percent" [animate]="true" class="countdown__timer--item">
            <ng-template igxProcessBarText let-process>
                <svg:tspan x="54" y="3.5rem" [ngClass]="'countdown__timer--item-time'"> {{hoursToDday}} </svg:tspan>
                <svg:tspan [ngClass]="'countdown__timer--item-label'" x="50" dy="20">
                    ЧАСА
                </svg:tspan>
            </ng-template>
        </igx-circular-bar>
        <igx-circular-bar [value]="this.percent" [animate]="true" class="countdown__timer--item">
            <ng-template igxProcessBarText let-process>
                <svg:tspan x="54" y="3.5rem" [ngClass]="'countdown__timer--item-time'"> {{minutesToDday}} </svg:tspan>
                <svg:tspan [ngClass]="'countdown__timer--item-label'" x="50" dy="20">
                    МИН
                </svg:tspan>
            </ng-template>
        </igx-circular-bar>
    </div>


    <!-- <div class="countdown__text">
        До Сватбата На Силвана и Радослав
    </div> -->
</div>