<div class="people--container">
    <div class="people--container__flower"></div>
    <div class="people--container__flower2"></div>
    <div class="people--container__flower3"></div>

    <div class="people--container__petno"></div>
    <div class="people--container__petno2"></div>
    <div class="people--container__petno3"></div>
    <div class="people--container__petno4"></div>


    <div class="people--title">
        Нашите прекрасни кумове и шафери
    </div>

    <div class="people--list">
        <div class="people--list__items-container">
            <div class="people--list__items-title">
                Кумове
            </div>
            <div class="people--list__items">

                <div class="people--list__item">
                    <div>
                        <img src="../../../assets/images/Borislava.png" alt="bobi">
                    </div>
                    <div class="people--list__item-name">
                        Борислава
                    </div>
                </div>
                <div class="people--list__item">
                    <div>
                        <img src="../../../assets/images/Kircho.png" alt="Kircho">
                    </div>
                    <div class="people--list__item-name">
                        Кирил
                    </div>
                </div>
            </div>
        </div>
        <div class="people--list__items-container">
            <div class="people--list__items-title">Шафери</div>
            <div class="people--list__items">

                <div class="people--list__item">
                    <div>
                        <img src="../../../assets/images/Maxiii.png" alt="max">
                    </div>
                    <div class="people--list__item-name">
                        Макс
                    </div>
                </div>
                <div class="people--list__item">
                    <div>
                        <img src="../../../assets/images/Marioioio.png" alt="mario">
                    </div>
                    <div class="people--list__item-name">
                        Марио
                    </div>
                </div>
            </div>
        </div>
        <div class="people--list__items-container">
            <div class="people--list__items-title">Шаферки</div>
            <div class="people--list__items">

                <div class="people--list__item">
                    <div>
                        <img src="../../../assets/images/Karinka.png" alt="karina">
                    </div>
                    <div class="people--list__item-name">
                        Карина
                    </div>
                </div>
                <div class="people--list__item">
                    <div>
                        <img src="../../../assets/images/Jukonda.png" alt="jukonda">
                    </div>
                    <div class="people--list__item-name">
                        Джаки
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>