<div class="people--container">
    <!-- <div class="people--container__flower"></div> -->
    <!-- <div class="people--container__flower2"></div>
    <div class="people--container__flower3"></div> -->
    <img class="people--container__flower" src="../../../assets/images/flower.png" loading="lazy">
    <img class="people--container__flower2" src="../../../assets/images/flower.png" loading="lazy">
    <img class="people--container__flower3" src="../../../assets/images/flower.png" loading="lazy">
    

    <!-- <div class="people--container__petno"></div>
    <div class="people--container__petno2"></div>
    <div class="people--container__petno3"></div>
    <div class="people--container__petno4"></div> -->
    <img class="people--container__petno" src="../../../assets/images/petno3.png" loading="lazy">
    <img class="people--container__petno2" src="../../../assets/images/petno3.png" loading="lazy">
    <img class="people--container__petno3" src="../../../assets/images/petno3.png" loading="lazy">
    <img class="people--container__petno4" src="../../../assets/images/petno3.png" loading="lazy">


    <div class="people--title">
        Нашите прекрасни кумове и шафери
    </div>

    <div class="people--list">
        <div class="people--list__items-container people--list__items-container-first">
            <div class="people--list__items-title">
                Кумове
            </div>
            <div class="people--list__items">

                <div class="people--list__item">
                    <div>
                        <img src="../../../assets/images/Borislava.png" alt="bobi" loading="lazy">
                    </div>
                    <div class="people--list__item-name">
                        Борислава
                    </div>
                </div>
                <div class="people--list__item">
                    <div>
                        <img src="../../../assets/images/Kircho.png" alt="Kircho" loading="lazy">
                    </div>
                    <div class="people--list__item-name">
                        Кирил
                    </div>
                </div>
            </div>
        </div>
        <div class="people--list__second-line">

            <div class="people--list__items-container">
                <div class="people--list__items-title">Шафери</div>
                <div class="people--list__items">

                    <div class="people--list__item">
                        <div>
                            <img src="../../../assets/images/Maxiii.png" alt="max" loading="lazy">
                        </div>
                        <div class="people--list__item-name">
                            Макс
                        </div>
                    </div>
                    <div class="people--list__item">
                        <div>
                            <img src="../../../assets/images/Marioioio.png" alt="mario" loading="lazy">
                        </div>
                        <div class="people--list__item-name">
                            Марио
                        </div>
                    </div>
                </div>
            </div>
            <div class="people--list__items-container">
                <div class="people--list__items-title">Шаферки</div>
                <div class="people--list__items">

                    <div class="people--list__item">
                        <div>
                            <img src="../../../assets/images/Karinka.png" alt="karina" loading="lazy">
                        </div>
                        <div class="people--list__item-name">
                            Карина
                        </div>
                    </div>
                    <div class="people--list__item">
                        <div>
                            <img src="../../../assets/images/Jukonda.png" alt="jukonda" loading="lazy">
                        </div>
                        <div class="people--list__item-name">
                            Джаки
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>