@use '../../../styles/index' as *;

.people--container {
    background: map-get($map: $colors, $key: primary-font-color);
    padding: 1.5rem 1.2rem 1.5rem 1.2rem;
    box-shadow: 0 -8px 12px 0px #b1b9b9, 0 8px 12px 0px #b1b9b9;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.people--container__flower {
    object-fit: cover;
    position: absolute;
    width: 220px;
    height: 220px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    @include laptop {
        transform: translateX(-50%) rotate(329deg);
        width: 500px;
        height: 500px;
        top: 35%;
    }

    @include computer {
        width: 600px;
        height: 600px;
        top: 30%;
    }
}

.people--container__flower2 {
    @extend .people--container__flower;
    top: 48%;
    transform: translateX(-50%) rotate(287deg);

    @include laptop {
        width: 400px;
        height: 400px;
        bottom: 0;
        left: 0;
        right: auto;
        top: auto;
        transform: translate(-100px, 150px);
    }

    @include computer {
        width: 500px;
        height: 500px;
    }
}

.people--container__flower3 {
    @extend .people--container__flower;
    top: 75%;

    @include laptop {
        width: 400px;
        height: 400px;
        bottom: 0;
        right: 0;
        top: auto;
        left: auto;
        transform: translate(100px, 160px);
    }

    @include computer {
        width: 500px;
        height: 500px;
    }
}

.people--container__petno {
    object-fit: cover;
    position: absolute;
    width: 220px;
    height: 220px;
    transform: translateX(-40%);
    top: 0;
    left: 0;

    @include computer {
        width: 400px;
        height: 400px;
    }
}

.people--container__petno2 {
    @extend .people--container__petno;
    left: auto;
    right: 0;
    transform: translateX(30%) rotate(90deg);
}

.people--container__petno3 {
    @extend .people--container__petno;
    top: auto;
    bottom: 0;
    transform: translateX(-35%) rotate(270deg);

    @include laptop {
        width: 400px;
        height: 400px;
    }

    @include computer {
        width: 500px;
        height: 500px;
    }
}

.people--container__petno4 {
    @extend .people--container__petno;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    transform: translateX(50%) rotate(180deg);

    @include laptop {
        width: 400px;
        height: 400px;
    }

    @include computer {
        width: 500px;
        height: 500px;
    }
}

.people--title {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    font-family: "quasimoda", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    position: relative;

}

.people--list {
    z-index: 10;
    position: relative;
    color: white;
    margin: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include laptop {
        margin-top: 5rem;
    }
}

.people--list__items {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;

    &-title {
        line-height: 2rem;
        font-family: "bickham-script-pro-3", sans-serif;
        font-weight: 400;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        font-style: normal;
        width: 100%;
        text-align: center;
        font-size: 3rem;

        @include laptop {
            padding: 1rem;
        }
    }
}

.people--list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "quasimoda", sans-serif;
    font-weight: 300;
    font-style: normal;

    & img {
        width: 140px;
        border: 5px solid white;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.2);

        @include laptop {
            width: 200px;
        }
    }
}

.people--list__second-line {
    @include laptop {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

.people--list__items-container-first {
    @include laptop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &>.people--list__items {
            gap: 3rem;
        }
    }
}