<div class="people--container">
    <div class="people--title">
        Нашите прекрасни кумове и шафери
    </div>

    <div class="people--list">
        <div class="people--list__items">
            <div class="people--list__item">
                <div>
                    <img src="../../../assets/images/Borislava.png" alt="bobi">
                </div>
                <div class="people--list__item-name">
                    Борислава
                </div>
            </div>
            <div class="people--list__item">
                <div>
                    <img src="../../../assets/images/Kircho.png" alt="bobi">
                </div>
                <div class="people--list__item-name">
                    Кирил
                </div>
            </div>
        </div>
        <div class="people--list__items">
            <div class="people--list__item">
                <div>
                    <img src="../../../assets/images/Maxiii.png" alt="bobi">
                </div>
                <div class="people--list__item-name">
                    Макс
                </div>
            </div>
            <div class="people--list__item">
                <div>
                    <img src="../../../assets/images/Marioioio.png" alt="bobi">
                </div>
                <div class="people--list__item-name">
                    Марио
                </div>
            </div>
        </div>
        <div class="people--list__items">
            <div class="people--list__item">
                <div>
                    <img src="../../../assets/images/Jukonda.png" alt="bobi">
                </div>
                <div class="people--list__item-name">
                    Джаки
                </div>
            </div>
        </div>
    </div>
</div>