<main>
    <section id="home">
        <app-landing></app-landing>
        <app-count-down></app-count-down>
    </section>
    <section>
        <app-carousel [autoSlide]="false" [cards]="true" [texts]="texts" [controls]="false">
        </app-carousel>
    </section>

    <section id="program">
        <app-timeline></app-timeline>
    </section>

    <section id="form">
        <app-form></app-form>
    </section> 
    
    <section id="cause">
        <app-cause></app-cause>
    </section>

    <section id="ppl">
        <app-people></app-people>
    </section>

    <section id="place">
        <app-place></app-place>
    </section>

    <section id="info">
        <app-info></app-info>
    </section>

    

    <section id="contancts">
        <app-contact></app-contact>
    </section>
</main>