<main>
    <section>
        <span id="home"></span>
        <app-landing></app-landing>
        <app-count-down></app-count-down>
    </section>
    <section style="overflow: hidden;">
        <app-carousel [autoSlide]="false" [cards]="true" [texts]="texts" [controls]="false">
        </app-carousel>
    </section>

    <section style="z-index: 10;">
        <span id="program"></span>
        <app-timeline></app-timeline>
    </section>


    <section style="z-index: 12;">
        <span id="ppl"></span>
        <app-people></app-people>
    </section>

    <section style="z-index: 14">
        <span id="cause"></span>
        <app-cause></app-cause>
    </section>

    <section>
        <span id="place"></span>
        <app-place></app-place>
    </section>


    <section>
        <span id="info"></span>

        <app-info></app-info>


    </section>


    <section style="z-index: 11;">
        <span id="form"></span>

        <app-form></app-form>

        <!-- <div class="form--puhche"></div> -->
        <img class="form--puhche" src="assets/images/tricvqta.png" loading="lazy">


    </section>

    <section>
        <span id="contacts"></span>

        <app-contact></app-contact>
    </section>
</main>