<div class="landing__content">
    <!-- <div class="landing__content--petno1">
        <img src="petno-cqlo1.png" style="display:none">
    </div> -->
    <img appImgLoadingDirective class="landing__content--petno1" src="../../../assets/images/petno2.png">

    <!-- <div class="landing__content--petno2">
        <img src="petno2.png" style="display:none">
    </div> -->
    <img appImgLoadingDirective class="landing__content--petno2" src="../../../assets/images/petno2.png">

    <!-- <div class="landing__content--petno-lqvo1">
    </div> -->
    <img appImgLoadingDirective class="landing__content--petno-lqvo1" src="../../../assets/images/petno2.png">

    <!-- <div class="landing__content--petno-lqvo2">
        <img src="petno1.png" style="display:none">
    </div> -->
    <img appImgLoadingDirective class="landing__content--petno-lqvo2" src="../../../assets/images/petno1.png">

    <!-- <div class="landing__content--petno-centralno"></div> -->
    <img appImgLoadingDirective class="landing__content--petno-centralno" src="../../../assets/images/petno-cqlo1.png">

    <!-- <div class="landing__content--flower"></div> -->
    <img appImgLoadingDirective class="landing__content--flower" src="../../../assets/images/flower.png">



    <!-- <div class="landing__content--petno-dolu-lqvo1"></div> -->
    <img appImgLoadingDirective class="landing__content--petno-dolu-lqvo1" src="../../../assets/images/petno-cqlo1.png">

    <!-- <div class="landing__content--flower2"></div> -->
    <img appImgLoadingDirective class="landing__content--flower2" src="../../../assets/images/flower.png">

    <!-- <div class="landing__content--klonche">
        <img src="klonka1.png" style="display:none">
    </div> -->
    <img appImgLoadingDirective class="landing__content--klonche" src="../../../assets/images/klonka1.png">


    <!-- <div class="landing__content--petno-dolu-dqsno1"></div> -->
    <img appImgLoadingDirective class="landing__content--petno-dolu-dqsno1" src="../../../assets/images/petno2.png">


    <!-- <div class="landing__content--klonche-dqsno">
        <img src="klonche.png" style="display:none">
    </div> -->
    <img appImgLoadingDirective class="landing__content--klonche-dqsno" src="../../../assets/images/klonche.png">



    <span>A Thousand Trees
        <br> Wedding</span>
    <!-- 52 - dobre -->
    <div class="landing__image-container">

        <img src="../../../assets/images/dvama.png" alt="dvama">
    </div>
</div>