@use '../../../styles/index' as *;

.landing__content {
    height: 380px;
    background: rgba(246, 223, 216, 0.5);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

    @include computer {
        height: 750px;
    }

    & span {
        padding: 2rem 0 0 0;
        font-family: "bickham-script-pro-3", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        display: inline-block;
        width: 100%;
        text-align: center;
        position: relative;
        line-height: 2rem;
        color: map-get($map: $colors, $key: primary-font-color);



        @include laptop {
            font-size: 3rem;
        }

        @include computer {
            padding: 4rem 0 0 0;
            font-size: 4rem;
        }
    }

    &--petno1 {
        opacity: 60%;
        object-fit: cover;
        position: absolute;

        width: 200px;
        height: 200px;
        top: 0;
        right: 0;
        transform: rotate(272deg);

        @include computer {
            width: 350px;
            height: 350px;
        }
    }

    &--petno2 {
        @extend .landing__content--petno1;
        right: -55px;
    }

    &--petno-lqvo1 {
        @extend .landing__content--petno1;
        left: 0;
        right: auto;
        top: 0;
        bottom: auto;
        transform: rotate(180deg);
        width: 250px;
        height: 250px;

        @include computer {
            width: 400px;
            height: 400px;
        }
    }

    &--petno-lqvo2 {
        @extend .landing__content--petno-lqvo1;
        transform: rotate(0deg);
        width: 200px;
        height: 200px;

        @include computer {
            width: 350px;
            height: 350px;
        }
    }

    &--petno-centralno {
        @extend .landing__content--petno-lqvo2;
        transform: rotate(300deg);
        left: 210px;
        top: -85px;
        opacity: 25%;
    }

    &--flower {
        object-fit: cover;
        position: absolute;
        width: 250px;
        height: 250px;
        top: 115px;
        right: 0px;
        opacity: 85%;
        transform: rotate(105deg);

        @include laptop {
            top: -70px;
            right: -100px;
            transform: rotate(215deg);
        }

        @include computer {
            width: 400px;
            height: 400px;
        }
    }

    &--petno-dolu-lqvo1 {
        object-fit: cover;
        position: absolute;
        width: 200px;
        height: 200px;
        bottom: -40px;
        left: 15px;
        opacity: 60%;
        transform: rotate(300deg);

        @include computer {
            width: 350px;
            height: 350px;
        }
    }

    &--flower2 {
        @extend .landing__content--flower;
        top: auto;
        bottom: -75px;
        left: -15px;
        width: 250px;
        height: 250px;
        transform: rotate(270deg);

        @include computer {
            width: 400px;
            height: 400px;
        }

    }

    &--klonche {
        object-fit: cover;
        position: absolute;
        opacity: 80%;
        width: 200px;
        height: 200px;
        bottom: -60px;
        left: -90px;
        z-index: 5;
        transform: rotate(90deg);

        @include computer {
            width: 350px;
            height: 350px;
        }
    }

    &--petno-dolu-dqsno1 {
        object-fit: cover;
        position: absolute;
        width: 200px;
        height: 200px;
        bottom: 0;
        right: 0;

        @include computer {
            width: 350px;
            height: 350px;
        }
    }

    &--klonche-dqsno {
        @extend .landing__content--klonche;
        opacity: 100%;
        left: auto;
        right: -50px;
        transform: rotate(353deg);
        bottom: -85px;

        @include computer {
            width: 350px;
            height: 350px;
            right: -105px;
        }
    }

}

.landing__image-container {
    position: relative;
    width: 100%;
    height: 90%;

    @include computer {
        width: 60%;
    }

    & img {
        max-width: 400px;
        height: 100%;
        width: 100%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include computer {
            max-width: 1000px;
            margin-left: 5rem;
        }
    }
}

.laptop-container {
    height: 90%;

    @include computer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        position: relative;
        width: 100%;
        height: 80%;
        z-index: 5;
    }
}

.landing__countdown {
    display: none;

    @include computer {
        min-width: 450px;
        display: flex;
        width: 30%;
        height: 70%;
        align-self: center;
    }
}

.removed {
    @include laptop {
        display: none;
    }
}