@use '../../../styles/index' as *;

.cause__container {
    width: 90%;
    margin: 1rem auto;
}

.cause__header {
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
    font-family: "quasimoda", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: map-get($map: $colors, $key: primary-font-color );
}

.cause__content--image {
    & img {
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}