<div class="cause__container">
    <div class="cause__header">
        <span class="cause__header-title">
            За каузата
        </span>
        <br>
        <span class="cause__header-subtitle">
            A thousand trees wedding
        </span>
    </div>

    <div class="cause__content">
        <div class="cause__content--image">
            <img src="../../../assets/images/gorata-logo.png" alt="gorata">
            <div>
                гората.бг
            </div>
        </div>
        <div class="cause__content--text">
            Скъпи гости, бихме искали да поставим началото на нашия семеен живот, като направим добро. Именно
            затова сватбата ни има кауза - засаждането на 1000 дръвчета. По време на сватбения ден ще
            имате
            възможност да се включите в различни инициативи, за да подпомогнем природата и заедно да
            направим
            България едно по-красиво, по-зелено и по-добро място за живот. Нашата сватбена кауза ще бъде
            осъществена с помощта на гората.бг.
        </div>

        <!-- <igx-card>
            <igx-card-media height="180px">
                <img src="../../../assets/images/gorata2.jpeg" alt="gorata">
            </igx-card-media>

            <igx-card-content>
                <p>Скъпи гости, бихме искали да поставим начало на нашия семеен живот като направим добро. Именно за
                    това нашата сватба има кауза- засаждането на 1000 дръвчета. По време на нашия сватбен ден ще имате
                    възможност да се включите в различни инициативи, за да подпомогнем природата и заедно да направим
                    България едно по-красиво, по-зелено и по-добро място за живот. Нашата сватбена кауза ще бъде
                    осъществена с помощта на Гората.бг</p>
            </igx-card-content>
        </igx-card> -->
    </div>
</div>
<div class="cause__content--banner">
    <img src="../../../assets/images/baner-gorata.png" alt="baner-gorata">
</div>