@use '../../../styles/index' as *;

.cause__container {
    padding: 1rem;
    color: #085737;
    font-family: "quasimoda", sans-serif;
    font-weight: 300;
    font-style: normal;
    overflow: hidden;
    position: relative;

    &-petno {
        object-fit: cover;
        position: absolute;
        width: 400px;
        height: 400px;
        top: 135px;
        right: -85px;
        opacity: 50%;
        transform: rotate(180deg);
    }

    &-puhche {
        position: absolute;
        width: 150px;
        height: 150px;
        object-fit: cover;
        top: -50px;
        left: -40px;
    }
}

.cause__header {
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;

    // color: map-get($map: $colors, $key: primary-font-color);

    &-subtitle {
        font-weight: 300;
        font-size: 1.5rem;
    }
}

.cause__content--image {
    padding: 1rem;
    max-width: 380px;

    & img {
        box-shadow: 0 3px 5px 3px rgb(0 0 0 / 20%);
        border-radius: 50%;
        border: 4px solid rgba(0, 0, 0, 0.3);
        width: 60%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

    }

    & div {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;

    }


}

.cause__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cause__content--text {
    text-align: center;
    max-width: 580px;
}

.cause__content--banner {
    & img {
        width: 100%;
        object-fit: contain;
        box-shadow: 0 8px 12px 0px #b1b9b9;
        border-radius: 1rem;
    }

}