<div class="content-container">
    <img class="timeline-top" src="../../../assets/images/tricvetq2.png" loading="lazy">

    <div class="timeline">

        <div class="timeline__header">
            Програма на сватбения ден
        </div>
        <div class="container left">
            <div class="date">
                <img src="../../../assets/images/church.png" alt="church" loading="lazy">
                <span>14:30</span>
            </div>
            <div class="content">
                <h2>Църковен брак</h2>
                <p>
                    Манастир „Свети 40 мъченици", село Мерданя, област Велико Търново
                </p>
                <button igxButton="raised"><a href="https://goo.gl/maps/zDP3MF112Qp5pRsH9">Упътване</a></button>

            </div>
        </div>
        <div class="container right">
            <div class="date">
                <img src="../../../assets/images/baggage.png" alt="baggage" loading="lazy">
                <span>15:30</span>
            </div>

            <div class="content">
                <h2>Настаняване</h2>
                <p>
                    Ваканционно селище „Балканъ“, село Калайджии, област Велико Търново
                </p>
                <button igxButton="raised"><a href="https://g.page/balkana?share">Упътване</a></button>

            </div>
        </div>
        <div class="container left">
            <div class="date">
                <img src="../../../assets/images/ritual.png" alt="ritual" loading="lazy">
                <span>18:00</span>
            </div>

            <div class="content">
                <h2>Изнесен ритуал</h2>
                <p>
                    Ваканционно селище „Балканъ“
                </p>
            </div>
        </div>
        <div class="container right">

            <div class="date">
                <img src="../../../assets/images/coctail.png" alt="coctail" loading="lazy">
                <span>18:30</span>
            </div>

            <div class="content">
                <h2>Наздравица и снимки</h2>
                <p>
                    Ваканционно селище „Балканъ“
                </p>
            </div>
        </div>
        <div class="container left">
            <div class="date">
                <img src="../../../assets/images/dinner.png" alt="dinner" loading="lazy">
                <span>19:30</span>
            </div>
            <div class="content">
                <h2> Празнична вечеря и танци</h2>
                <p>
                    Ваканционно селище „Балканъ“
                </p>
            </div>
        </div>
    </div>
</div>