<div class="form__container">
    <img class="form--cvete3" src="../../../assets/images/flower.png" loading="lazy">


    <div class="form__header">
        Сватбена форма
    </div>

    <div *ngIf="!this.submitted" class="form__content">


        <h2 id="subtitle" s>Скъпи гости, молим, потвърдете вашето присъствие, като попълните нашата сватбена форма.</h2>

        <div class="form__container--content">
            <img *ngIf="!this.submitted" class="form__container--cvete" src="../../../assets/images/klonche.png"
                loading="lazy">

            <img *ngIf="!this.submitted" class="form__container--cvete2" src="../../../assets/images/klonche.png"
                loading="lazy">

            <div class="form__container--date">
                <h3>Дата на събитието: </h3>
                <h4>15 юли 2023 г.</h4>
            </div>
            <div class="form__container--date">
                <h3>Крайна дата за потвърждение: </h3>
                <h4>30 април 2023 г.</h4>
            </div>

            <form class="form" id="form" #form="ngForm" (ngSubmit)="submit()">
                <label for="attendance">Ще присъствате ли на сватбеното тържество на Силвана и Радослав?</label>
                <div class="form__radio--container">

                    <div class="form__radio">
                        <igx-radio [(ngModel)]="attendance" [value]='"true"' name="attendance-yes">Да, с удоволствие ще
                            присъстваме.
                        </igx-radio>
                    </div>
                    <div class="form__radio">
                        <igx-radio [(ngModel)]="attendance" [value]='"false"' name="attendance-no">Не, за съжаление,
                            няма да
                            присъстваме.</igx-radio>
                    </div>
                </div>

                <div *ngIf="attendance === 'false'" id="container">
                    <span>Няма да присъстват:</span>
                    <section *ngFor="let input of inputs; let i = index">
                        <div *ngIf="this.inputs.length > 1 && i !==0" class="form__inputs--divider"></div>
                        <div class="form__name-group">

                            <igx-input-group>
                                <input igxInput name="firstName{{i}}" type="text" [(ngModel)]="input.firstName"
                                    required />
                                <label igxLabel for="firstName{{i}}">Име</label>
                                <igx-hint position="start" style="font-size:0.7rem">Задължително поле</igx-hint>

                            </igx-input-group>

                            <igx-input-group>
                                <input igxInput name="secondName{{i}}" type="text" [(ngModel)]="input.secondName"
                                    required />
                                <label igxLabel for="secondName{{i}}">Фамилия</label>
                                <igx-hint position="start" style="font-size:0.7rem">Задължително поле</igx-hint>

                            </igx-input-group>
                        </div>

                    </section>
                    <div class="form__inputs--buttons">
                        <button igxButton="outlined" (click)="addRow()" type="button">
                            Добавете човек
                        </button>
                        <button igxButton="outlined" (click)="removeRow()" [disabled]="this.inputs.length <= 1"
                            type="button">
                            Премахнете последния добавен
                        </button>
                    </div>

                    <div class="form__inputs--phone">
                        <igx-input-group>
                            <input igxInput name="phone" type="text" [(ngModel)]="phone" required />
                            <label igxLabel for="phone">Телефон за връзка</label>
                            <igx-hint position="start" style="font-size:0.7rem">Задължително поле</igx-hint>

                        </igx-input-group>
                    </div>
                </div>

                <div *ngIf="attendance === 'true'" id="container">
                    <span>Ще присъстват:</span>


                    <section *ngFor="let input of inputs; let i = index">
                        <div *ngIf="this.inputs.length > 1 && i !== 0" class="form__inputs--divider"></div>

                        <div class="form__inputs--select">
                            <igx-radio-group name="age{{i}}" [(ngModel)]="input.age" [alignment]="alignment">
                                <igx-radio [value]="'Възрастен'">
                                    Възрастен
                                </igx-radio>
                                <igx-radio [value]="'Дете'">
                                    Дете
                                </igx-radio>
                            </igx-radio-group>

                        </div>
                        <div class="form__name-group">
                            <igx-input-group>
                                <input igxInput name="firstName{{i}}" type="text" [(ngModel)]="input.firstName"
                                    required="required" />
                                <label igxLabel for="firstName{{i}}">Име</label>
                                <igx-hint position="start" style="font-size:0.7rem">Задължително поле</igx-hint>
                            </igx-input-group>

                            <igx-input-group>
                                <input igxInput name="secondName{{i}}" type="text" [(ngModel)]="input.secondName"
                                    required />
                                <label igxLabel for="secondName{{i}}">Фамилия</label>
                                <igx-hint position="start" style="font-size:0.7rem">Задължително поле</igx-hint>
                            </igx-input-group>
                        </div>
                        <div class="form__food">

                            <span> Специфични изисквания за храна: </span>
                            <div class="form__food--radio">
                                <div *ngIf="input.age === 'Възрастен'" class="form__food--radio-container">
                                    <igx-radio [(ngModel)]="input.food" value='Без специфични изисквания'
                                        name="food-all{{i}}">
                                        Без специфични изисквания</igx-radio>
                                    <igx-radio [(ngModel)]="input.food" value='Вегетарианско меню'
                                        name="food-vegan{{i}}">
                                        Вегетарианско меню</igx-radio>
                                </div>
                                <div *ngIf="input.age === 'Дете'" class="form__food--radio-container">
                                    <igx-radio [(ngModel)]="input.food" value='Детско меню' name="food-child{{i}}">
                                        Детско меню</igx-radio>
                                    <igx-radio [(ngModel)]="input.food" value='Меню за възрастен'
                                        name="food-child-person{{i}}">
                                        Меню за възрастен</igx-radio>
                                    <igx-radio [(ngModel)]="input.food" value='Вегетарианско меню'
                                        name="food-vegan-child{{i}}">
                                        Вегетарианско меню</igx-radio>
                                    <igx-radio [(ngModel)]="input.food" value='Без меню' name="food-child-nomenu{{i}}">
                                        Без меню</igx-radio>
                                </div>

                                <igx-input-group>
                                    <input igxInput name="firstName{{i}}allergies" type="text"
                                        [(ngModel)]="input.allergies" />
                                    <label igxLabel for="firstName{{i}}allergies">Алергии към храни</label>
                                </igx-input-group>
                            </div>

                        </div>
                    </section>
                    <div class="form__inputs--buttons">
                        <button igxButton="outlined" (click)="addRow()" type="button">
                            Добавете присъстващ
                        </button>
                        <button igxButton="outlined" (click)="removeRow()" [disabled]="shouldDisable" type="button">
                            Премахнете последния добавен
                        </button>
                    </div>

                    <div class="form__inputs--phone">
                        <igx-input-group>
                            <input igxInput name="phone" type="text" [(ngModel)]="phone" required />
                            <label igxLabel for="phone">Телефон за връзка</label>
                            <igx-hint position="start" style="font-size:0.7rem">Задължително поле</igx-hint>

                        </igx-input-group>
                    </div>

                    <igx-input-group class="form__inputs--info">
                        <label igxLabel for="additional-information">Допълнителна информация</label>

                        <textarea igxInput name="additional-information" rows=”5” [(ngModel)]="info"></textarea>
                    </igx-input-group>
                </div>
                <div class="form__button--submit">
                    <button igxButton="outlined" type="submit"
                        [disabled]="!form['valid'] || this.attendance === ''">Изпрати</button>
                </div>

            </form>
        </div>
    </div>


    <div *ngIf="this.submitted" class="form__container--content">
        <h2>Благодарим ви, че попълнихте нашата сватбена форма!</h2>
        <div *ngIf="this.attendance !== 'false'" class="atcb" style="display:none;">
            {{ '{' }}
            "name":"Сватбата на Силвана и Радослав",
            "description":"Сватбата на Силвана и Радослав",
            "startDate":"2023-07-15",
            "endDate":"2023-07-15",
            "location":"Balkana Village Ваканционно селище Балканъ",
            "label":"Добави в календар",
            "options":[
            "Apple",
            "Google"
            ],
            "timeZone":"currentBrowser",
            "trigger":"click",
            "inline":true,
            "listStyle":"modal",
            "checkmark":false,
            "iCalFileName":"Reminder-Event"
            {{ '}' }}
        </div>
    </div>

</div>