<div class="info--container">

    <img class="info--container__petno1" src="assets/images/petno-cqlo1.png" loading="lazy">


    <img class="info--container__cvete1" src="assets/images/flower.png" loading="lazy">
    <img class="info--container__cvete2" src="assets/images/flower.png" loading="lazy">

    <div class="info--title">
        Полезна информация
    </div>

    <div class="info--items">

        <app-info-component *ngFor="let item of info" [description]='item.description' [label]="item.title"
            [image]="item.image"></app-info-component>
    </div>

    <img class="info--container__petno2" src="assets/images/petno-cqlo1.png" loading="lazy">


    <img class="info--container__cvete3" src="assets/images/flower.png" loading="lazy">

</div>